@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.banner{
    max-width: 1536px;
    width: 95%;
    margin: 0px auto;
    padding: 60px;
    
}
.banner-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 15px;
 
    
}
.banner-content{
    width: 50%;
}
.banner-img{
     background-image: url(../images/shapes/Group\ 8450.png); 
     background-repeat: no-repeat;
     background-size: cover;
     width: 50%;
     /* position: relative; */
     /* background-position-x: 20px; */
     
}
.banner-img img{
    width: 100%;
    /* top: -20px; */
    margin-bottom: 26px;
    margin-left: -40px
}
.banner-title{
    color: #575757;
    font-family: Montserrat;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -2%;
    text-align: left;
}
.banner-description{
    color: rgb(130, 130, 130);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -2%;
    text-align: left;
    margin-top: 40px;
}
.banner-btn{
    border-radius: 100px;
    padding: 20px 28px 20px 28px;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-top: 40px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    /* gradient */
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
}
#skip{
 font-size: 3.5rem;
 color: #FBA24F;
}


/* about section */

.about{
    max-width: 1536px;
    width: 95%;
    margin: 0px auto;
    padding: 60px;
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover
    
}
.about-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 109px;
 
    
}
.about-content{
    width: 50%;
}
.about-img{
  
max-width: 735px;
width: 50%;
     
     
}
.about-img img{
    width: 100%;
    margin-top: 64px;
}
.about-title{
     color: rgb(112, 112, 112);
     font-family: Montserrat;
     font-size: 3.8;
     font-weight: 700;
     line-height: 54px;
     letter-spacing: 0%;
     text-align: left;
}
.about-description{
     color: rgb(24, 25, 31);
     font-family: Manrope;
     font-size: 18px;
     font-weight: 400;
     line-height: 2rem;
     letter-spacing: 0%;
     text-align: left;
}
.about-btn{
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    /* gradient */
    margin-top: 20px;
    padding:24px 32px ;
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
}













@media screen and (max-width:576px) {
    .banner{
        padding: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
    }
    .banner-img{
           background-image: none;
           background-color: #FBA24F;
           border-radius: 10px;
           width: 100%;
           /* margin: 0px auto; */
    }
    .banner-img img{
        width: 100%;
        margin-left: 10px
        
    }
    .banner-title{
        color: #575757;
        font-family: Montserrat;
        font-size: 2rem;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -2%;
        text-align: left;
    }
    #skip{
        font-size: 2.5rem;
        color: #FBA24F;
       }
       .banner-btn{
        margin-left: 50px;
       }

       /* start about section */
       .about{
        margin-top: 50px;
        width: 100%;
        /* padding: 60px; */
        background-image: url(../images/shapes/7.png);
        background-repeat: no-repeat;
        background-size: cover
        
       
        
    }
       .about-container{
        flex-direction: column;
        
       }
       .about-img{
        
        width: 100%;
                  
        }
        .about-content{
            width: 100%;
        }
        .about-description{
            line-break: normal;

        }
}